@media (max-width: 768px) {
  .navbar-container-block {
    height: 62px;
  }
  .banner-title {
    font-size: 38px;
    line-height: 46px;
  }
  .section-padding {
    padding: 20px 0;
  }
  .section-title {
    font-size: 24px;
    line-height: 32px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .description {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .icon-container {
    margin-bottom: 14px;
  }
  .count-number {
    font-size: 36px;
  }
  .count-label {
    font-size: 18px;
  }
  .project-content {
    padding: 16px 0;
  }
  .project-title {
    font-size: 24px;
  }
  .pb-action-btn {
    opacity: 1;
  }
  .project-block .project-block-item {
    margin-bottom: 20px;
  }
  .custom-card {
    margin: 0 0 20px 0;
    padding: 18px;
  }
  .bs-card-section {
    margin-top: 30px;
  }

  .accordion-button {
    font-size: 18px;
    padding-bottom: 16px;
  }
  .accordion-body {
    font-size: 16px;
  }

  .footer {
    padding: 30px 0;
  }
  .footer-col {
    margin-bottom: 0;
  }

  .footer-social-icons {
    margin-top: 0;
    justify-content: flex-start;
  }
  /* .footer-social-icons a {
    margin: 0 0.75rem;
  } */

  .footer-form-flex {
    flex-direction: column;
    align-items: center;
  }
  .newsletter-form .form-control,
  .newsletter-form .btn {
    flex-basis: auto;
    width: 100%;
  }
  .newsletter-email {
    min-width: 100%;
  }
  .footer-link-block {
    margin-bottom: 24px;
  }

  .newsletter-form .btn {
    margin-top: 10px;
  }
  .join-us .row > div {
    text-align: center;
    justify-content: center !important;
    margin-bottom: 1rem;
  }
  .join-us-title {
    font-size: 24px;
  }
  .join-us .btn-custom-secondary {
    width: 100%;
  }
  .custom-navbar {
    z-index: 9;
    border-radius: 0;
    padding: 6px 0 6px 0;
    padding-right: 0;
  }
  .navbar-nav {
    padding: 0;
  }

  .navbar-toggler {
    padding-right: 0 !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .read-more-btn {
    margin-top: 20px;
  }
  #testimonial-web {
    display: none;
  }
  #testimonial-mob {
    display: block;
  }
  .testimonial-text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .author-name {
    font-size: 18px;
  }
  .btn-custom-secondary {
    padding: 8px 22px;
  }
  .btn-custom {
    padding: 8px 22px;
  }
  .blog-card .card-body {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .blog-card-text {
    margin-bottom: 0;
  }
  .bs-title {
    font-size: 24px;
  }
  .bs-text {
    margin-bottom: 0;
  }
  .testimonial-slider-block {
    margin-top: 30px;
  }
  .navbar-container {
    background: #fff;
    position: relative;
    z-index: 9;
  }
  .nav-link {
    font-size: 16px;
    padding-bottom: 8px;
  }
  .navbar-collapse {
    padding-bottom: 10px;
  }
  .footer-link-list a {
    font-size: 14px;
  }
  .footer-text {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
  }
  .ui-card {
    padding: 16px 0;
  }
  .copyright-text {
    font-size: 14px;
    padding: 30px 0 0 0;
  }
  .banner-img-block img {
    height: 300px;
  }

  /* blog  */
  .blog-body-padding {
    padding: 0;
  }
  .blog-banner-img {
    margin: 30px 0;
  }
  .blog-banner-img img,
  .blog-section-banner-img img {
    width: 100%;
  }
  .blog-body-title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 30px;
  }
  .solutions-help .custom-card,
  .project-bs-cards .custom-card {
    min-height: auto;
  }
  .project-section-title {
    font-size: 24px;
    line-height: 32px;
  }
  .p-main-text {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .project-body-text {
    font-size: 16px;
    margin-bottom: 0;
  }
  .project-section-padding {
    padding-top: 20px;
  }
  .project-bs-cards {
    margin-top: 0;
  }
  .blog-quote-text {
    font-size: 16px;
  }
  .project-quote-block {
    margin-top: 24px;
  }
  .case-study-mobview {
    display: block;
  }
  .case-study-webview {
    display: none;
  }
  .count-up-item {
    padding: 10px;
  }
  .result-block .count-number {
    font-size: 36px;
  }
  .result-block .count-label {
    font-size: 18px;
  }
  .ps-responsive-margin {
    margin-top: 20px;
  }
}
